<footer class="app-footer">
  <!-- <figure class="banner-container">
    <img src="assets/img-footer.png"
    alt="Footer aplicação dons"
    class="expanded-top">
  </figure> -->
  <!-- <img src="assets/imagem-footer.png"> -->
  <app-container>
    <div class="inner">
      <ul>
        <!-- <li>
          Horário de culto: 19:00 (domingo)
        </li> -->
      </ul>
      <ul class="socials">
        <!-- <li>Acesse nossas redes:</li> -->
        <li>
          <button mat-icon-button>
            <img src="assets/whatsapp.png" alt="Ícone do whatsapp">
          </button>
          <button mat-icon-button>
            <img src="assets/instagram.png" alt="Ícone do instagram">
          </button>
        </li>
      </ul>
    </div>
  </app-container>
  <div class="copyright">
    © 2024 Aliança Gama
  </div>
</footer>
